
/* Add styling for the Topnav */
.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    background: none;
    padding: 2rem 8rem; 
    box-sizing: border-box; 
    max-width: 100%; 
    overflow: hidden;
}

/* grid styling */
.grid-container {
    max-width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* font styling */
small {
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 1);
}

small a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}